[aws]
aws_region_name = us-west-2
aws_access_key_id = <PUT ACCESS KEY HERE>
aws_secret_access_key = <PUT SECRET KEY HERE>

[cluster mycluster]
vpc_settings = myvpc
key_name = <PUT KEY NAME HERE>
master_instance_type = m5.4xlarge
compute_instance_type = c5.18xlarge
initial_queue_size = 5
max_queue_size = 5
placement_group = DYNAMIC
master_root_volume_size = 1000
compute_root_volume_size = 1000
s3_read_write_resource = <PUT S3 BUCKET RESOURCE HERE>
base_os = centos7
ebs_settings = custom
post_install = https://raw.githubusercontent.com/CRBS/cildatatiler/master/prototype/parallelimod/post_install.sh

[ebs custom]
#ebs_snapshot_id = snap-xxxxx
volume_type = gp2
volume_size = 10000
#volume_iops = 200

[vpc myvpc]
master_subnet_id = <PUT SUBNET HERE>
vpc_id = <PUT VPC HERE>

[global]
update_check = true
sanity_check = true
cluster_template = mycluster

